@import "tailwindcss";

:root {
  --background: #f8f9fa;
  --foreground: #171717;
  --primary: 69 118 198;
  --secondary: 103 119 152;
  --tertiary: 162 96 0;
  --neutral: 117 119 125;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue: rgb(var(--primary));
  --color-slate: rgb(var(--secondary));
  --color-amber: rgb(var(--tertiary));
  --color-gray: rgb(var(--neutral));
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes fade-in-out {
  0% { opacity: 0; transform: translate(-50%, 20px); }
  10% { opacity: 1; transform: translate(-50%, 0); }
  90% { opacity: 1; transform: translate(-50%, 0); }
  100% { opacity: 0; transform: translate(-50%, 20px); }
}

.animate-fade-in-out {
  animation: fade-in-out 2s ease forwards;
}